*{
  margin: 0;
}

h1 {
  background: #b3b3b3;
  color: #000;
  font-size: 50px;
  padding: 6px 10px;
  margin-bottom: 20px;
  width: fit-content;
  text-align: center;
}


h3 {
  margin-top: 18px;
  margin-bottom: 6px;
  font-size: 16px;
  color: #222;
}

ol, ul, dl {
  margin-left: 35px;
  margin-bottom: 15px;
  font-size: 14px;
  margin: 0px 100px;
}

dl dt {
  font-weight: bold;
  margin-top: 5px;
}

dl dd {
  margin-left: 20px;
  margin-bottom: 5px;
}

table {
  width: 40%;
  border-collapse: collapse;
  margin: -200px 600px 50px ;
  font-size: 14px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 6px 10px;
  text-align: center;
}
caption{
  text-align: left;
}
footer{
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  align-items: center;
}
nav{
  background-color: black;
  text-align: center;
  text-decoration: none;
}
.hello {
  padding-left: 200px;
  padding-top: 70px;
}